<section class="header bg-white p-4 shadow-md fixed top-0 left-0 right-0 z-10">
    <div class="flex justify-between items-center">
    <a href="index.html" class="flex items-center text-xl font-bold text-blue-800">
            <span class="text-2xl font-bold">Hackybara</span>
        </a>
        <div class="myNavbar flex items-center">
            <div class="profile mr-4">
                <a href="layout/profile.html" class="flex items-center">
                    <div class="info text-right mr-3">
                        <h4 class="font-bold"><span id="userName">User</span></h4>
                        <p class="text-sm text-gray-500"><span id="userRole">Member</span></p>
                    </div>
                    <div class="profile-photo w-10 h-10 rounded-full overflow-hidden border-2 border-blue-500">
                        <span class="material-symbols-outlined text-blue-500 text-2xl">account_circle</span>
                    </div>
                </a>
            </div>
            <div class="button">
                <button class="hamburger md:hidden" onclick="openNav()">
                    <span class="material-symbols-outlined">menu</span>
                </button>
            </div>
        </div>
    </div>
    <!--SIDE NAVIGATION BAR (MOBILE)-->
    <div id="sidebar-mobile"></div>
</section>
